/*
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/ {
	midi1: midi1 {
		status = "okay";
		compatible = "midi1_serial";
		uart = <&lpuart0>;
	};

	midi1_clock_cntr_0: midi1_clock_cntr_0 {
		compatible = "midi1_clock_cntr";
		counter = <&lptmr0>;
		midi1_serial = <&midi1>;
		status = "okay";
	};

	rotary_encoder: rotary-encoder {
		compatible = "gpio-qdec";
		gpios = <&arduino_header 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, /* D6 */
			<&arduino_header 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D7 */
		steps-per-period = <4>;
		zephyr,axis = <INPUT_REL_WHEEL>;
		sample-time-us = <2000>;
		idle-timeout-ms = <200>;
		status = "okay";
	};

	encoder_button: encoder-button {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&arduino_header 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D2 */
			label = "Encoder Push Button";
			zephyr,code = <INPUT_KEY_2>;
                };

                button1: button_1 {
                        gpios = <&arduino_header 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D10 */
                        label = "BPM Shift Button";
                        zephyr,code = <INPUT_KEY_3>;		};
	};
};

&lpuart0 {
	status = "okay";
	current-speed = <31250>;
};

&lptmr0 {
	status = "okay";
};
