/*
 * SPDX-License-Identifier: Apache-2.0
 */

/**
 * @file frdm_mcxa156.overlay
 * @brief overlay for this board from 2024
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/*
 * Classic MIDI1.0 over DIN5 plug.
 * On the MCXA156 the mikroBUS socket J1 is on LPUART1
 */
&lpuart1 {
	status = "okay";
	/* Set it to the MIDI baud rate */
	current-speed = <31250>;
};

/* Enable two hardware CTIMERs for the clock generation and measurement */
&ctimer0 {
	status = "okay";
};

&ctimer1 {
	status = "okay";
};

/ {
	/* Existing UART mapping */
	midi1: midi1 {
		status = "okay";
		compatible = "midi1_serial";
		uart = <&lpuart1>;
	};

	/* 1. MIDI Clock Generator Instance */
	midi1_clock_cntr_0: midi1_clock_cntr_0 {
		compatible = "midi1_clock_cntr";
		counter = <&ctimer0>;      /* Assign CTIMER0 to generate clock */
		midi1_serial = <&midi1>;   /* Link it to the UART TX */
		status = "okay";
	};

	/* 2. MIDI Clock Measurement Instance */
	midi1_clock_meas_cntr_0: midi1_clock_meas_cntr_0 {
		compatible = "midi1_clock_meas_cntr";
		counter = <&ctimer1>;      /* Assign CTIMER1 to measure incoming clock */
		status = "okay";
	};

	rotary_encoder: rotary-encoder {
		compatible = "gpio-qdec";
		gpios = <&arduino_header 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, /* D6 */
			<&arduino_header 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D7 */
		steps-per-period = <4>;
		zephyr,axis = <INPUT_REL_WHEEL>;
		sample-time-us = <2000>;
		idle-timeout-ms = <200>;
		status = "okay";
	};

	encoder_button: encoder-button {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&arduino_header 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D2 */
			label = "Encoder Push Button";
			zephyr,code = <INPUT_KEY_2>;
		};
	};
};
