/**
 * @file frdm_mcxc242.overlay
 * @brief overlay for MIDI1 clock generator on MCXC242
 * @author Jan-Willem Smaal <usenet@gispen.org>
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	midi1_serial_0: midi1-serial-0 {
		compatible = "midi1_serial";
		uart = <&lpuart1>;
		status = "okay";
	};

	midi1_clock_cntr_0: midi1-clock-cntr-0 {
		compatible = "midi1_clock_cntr";
		counter = <&pit0_channel0>;
		midi1_serial = <&midi1_serial_0>;
		status = "okay";
	};
};

&lpuart1 {
	status = "okay";
	current-speed = <31250>;
};

&pit0 {
	status = "okay";
};

&pit0_channel0 {
	status = "okay";
};

/* EOF */
