
/**
 * Device tree overlay for the FRDM-MCXA266 development kit.
 * Configures Arduino D0/D1 (LPUART2) for MIDI and enables USB Host.
 * 
 * @author Jan-Willem Smaal <usenet@gispen.org>
 * @date 20260513
 * license SPDX-License-Identifier: Apache-2.0
 */

&ctimer0 {
	status = "okay";
};

&ctimer1 {
	status = "okay";
};

/* 
 * MIDI on Arduino D0/D1 (P2_3/P2_2) 
 */
&lpuart2 {
	status = "okay";
	current-speed = <31250>;
	pinctrl-0 = <&pinmux_lpuart2>;
	pinctrl-names = "default";
};

/* 
 * USB Host (KHCI) 
 * We switch the compatible to the host driver (uhc-khci).
 * We must delete 'num-bidir-endpoints' and 'no-voltage-regulator' 
 * because they are specific to the device-mode (UDC) driver and 
 * would cause devicetree validation errors when using the host driver.
 */
&usb {
	status = "okay";
	compatible = "nxp,uhc-khci";
	/delete-property/ num-bidir-endpoints;
	/delete-property/ no-voltage-regulator;
};

/ {
	aliases {
		counterch0 = &ctimer0;
		counterch1 = &ctimer1;
	};

	vbus_en: regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "vbus_en";
		/* Trying P3_24 as the VBUS enable pin */
		enable-gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
	};

	midi0: midi0 {
		status = "okay";
		compatible = "midi1_serial";
		uart = <&lpuart2>;
	};

	midi1_clock_cntr: midi1_clock_cntr {
		status = "okay";
		compatible = "midi1_clock_cntr";
		counter = <&ctimer0>;
		midi1_serial = <&midi0>;
	};

	midi1_clock_meas_cntr: midi1_clock_meas_cntr {
		status = "okay";
		compatible = "midi1_clock_meas_cntr";
		counter = <&ctimer1>;
	};

	chosen {
		zephyr,uhc0 = &usb;
	};
};
